<div style="padding: 50px">
  <div style="margin-bottom: 20px">
    <p>Choose color: </p>
    <select name="color" (change)="getColor($event)">
      <option value="green">Green</option>
      <option value="black">Black</option>
      <option value="red">Red</option>
      <option value="pink">Pink</option>
      <option value="yellow">Yellow</option>
    </select>
  </div>
  <canvas
    width="500px"
    height="500px"
    #canvas
    style="border: 1px solid black"
    (click)="onCanvasClick($event)"
  ></canvas>
</div>
